.formulario {
    float:center;
    margin: 20px;

}
.formulario p input,
.formulario p textarea {
    width: 100%;
    background: white;
    font-size: 20px;

}

.formulario input[type="submit"] {
    background: green;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    width: auto;
    cursor: pointer;
}