.destacados{
    display: inline-flex;
    margin: 10px;
    margin-left: 10px;
    
}

.item_destacados{
	background-color: rgb(111, 184, 117);
	width: 150px;
	height: 100px;
    text-align: center;
}



.porcentaje{
    font-size: 20px;
    color: white;
    text-align: center;
}

.fondos_destacados{
    color: white;
    font-size:20px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    gap: 10px;
}