<div class="container" style="margin-top:10px;">
    <div class="row" align="center">
        <p>Bienvenido al administrador de TusFondos</p>
        <form action="/admin/login" method="post">
        <div class="mb-3">
            <div >
                <input type="text" class="col-form-label" id="inputUser" placeholder="Usuario" name="usuario">
            </div>
        </div>
        <div class="mb-3">
            <div >
                <input type="password" class="col-form-label" aria-describedby="passwordHelpInline" id="inputPassword" placeholder="Contraseña" name="password">
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Ingresar</button>
        </form>
        {{#if error}}
            <p>Usuario y/o contraseña incorrecto</p>
        {{/if}}
    <div>  
</div>