<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar Rendimientos</h4>
            <form action="/admin/rendimientos/modificar" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{rendimientos.id}}" name="id">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="nombre" value="{{rendimientos.nombre}}">
                </div>
                <div class="form-group">
                    <label for="">Rendimiento</label>
                    <input type="text" class="form-control" name="rendimiento" value="{{rendimientos.rendimiento}}">
                </div>
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>